/*
Kevin Greene
11.20.2020
*/

body { 
	background-color: #F5F5F5;
    color: #3F2860;
    font-family: Verdana, Arial, sans-serif;
}

header { 
	background-color: #9BC1C2; 
    background-image: url(../images/lilyheader.jpg);
	background-position: right;
	background-repeat: no-repeat;
}

h1 { 
	text-indent: 1em;
    line-height: 400%; 
}

nav { 
     font-weight: bold; 
}
nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	
}
nav ul li{
	display: inline;
}

footer { 
	background-color: #9BC1C2; 
    font-size: small;
	text-align: center;
	font-style: italic;
}

main>ul{
	list-style-image: url(../images/yogabullet.png);
	margin-left: 3em;
}

.schedule{
	border-collapse: collapse;
	border: solid 1px black;
	width: 100%;
	margin-bottom: .5em;
}

td {
	border: solid 1px black;
	text-align: center;
	
}

footer{
	padding: .5em;
	margin-bottom: .5em;
}

/*
===============================
BreakPoint
===============================
*/
@media only screen and (max-width: 641px){
nav{
	display: block;
}
nav ul li{
	display: inline;
}
header{
	background-image: none;
}
body{
	background-image: url(../images/yogamobile.png);
}
img{
	display: none;
}
}
