/*Kevin Greene
12/17/2020*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

$color-main: #71a17d;
$header-color: #E4E1D0;
$header-font: "Nanum Gothic", sans-serif, serif;
$pawcursor: url(../images/pawprintcursor.png);
$pawpointer:url(../images/pawprintpointer.png);