/*Kevin Greene
  11/11/2020*/

@font-face {
    font-family: 'norwesterregular';
    src: url(../Fonts/norwester-webfont.woff2) format('woff2'),
         url(../Fonts/norwester-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}


html{
    font-size: 1rem;
      
}

body {   
     font-family: 'norwesterregular', sans-serif, serif;
     text-align: center;
     background-image: url(../Images/computerbackground.jpeg); 
    }
        
        
.boxClass{
       color: rgb(18, 218, 68); 
       border: 1px solid rgb(18, 218, 68);
       font-size: 1.5rem;
       background-color: black; 
       text-align: center;
       padding: 1ch;
       width: 800px;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 10px;
    }

header h1{
    font-weight: lighter;
    text-align: center;
    font-size: 3rem;  
    color:rgb(18, 218, 68);
    text-shadow: black .07em .07em;
}
#educationBox{
    border:1px solid rgb(5, 5, 5);
     color: black;
     font-size: 1.5rem;
     background-color:rgb(18, 218, 68); 
     text-align: center;
     padding: 1ch;
     width: 800px;
     margin-left: auto;
     margin-right: auto;
    }
    main.educationBox h1{
        color: black;
        text-shadow: none;
    }

footer{
      font-size: 1.5rem;
      font-family: 'Goldman', cursive, sans-serif;
      border: 1px solid rgb(18, 218, 68); background-color: black; 
      color:rgb(18, 218, 68) ;text-align: center;margin: 1ch;
      margin-top: 100px;
    }
   
    p a{
        text-decoration: none;
        color:rgb(18, 218, 68) ;
    }
    p a:hover{
        text-decoration: underline;
    }
nav{
       border: 1px solid rgb(18, 218, 68);
       background-color: black; 
       width: auto;
       height: auto;
       padding: 1ch;
       float: left;
       margin-right: 20px;
}

nav>ul li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: rgb(18, 218, 68);
    font-size: 3em;
}

caption{
   font-size: 30px;
   text-shadow: black .1em .1em; 
}

td{
    border: 1px solid rgb(18, 218, 68) ;
    padding: 5px;
}
table{
    color: rgb(18, 218, 68); 
    border: 1px solid rgb(18, 218, 68);
    font-size: 1.5rem;
    background-color: black; 
    text-align: center;
    padding: 1ch;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

td a{
    text-decoration: none;
    color:rgb(18, 218, 68) ;
}
td a:hover{
    text-decoration: underline;
}
tfoot tr td{
    padding: 1ch;
    font-size: 2rem;
    background-color:rgb(18, 218, 68) ;
    color: black;
}
select{
    margin-bottom: 15px;
}
fieldset{
    border: 1px solid rgb(18, 218, 68) ;
}
form>textarea{
    width: 300px;
    height: 100px;
}

div img{
    float: left;
}
div>p i{
    font-weight: bold;
}

