/*********************************************************************
***
*Original Author: Kevin Greene *
*Date Created: 1/28/2021 *
*Version: 1 *
*Date Last Modified: 1/28/2021 *
*Modified by: Kevin Greene *
*Modification log: *Created new css for faq page
                   *Added style rules from faq lab and adjusted styles for this project
                   *Improved alignment
                   *Improved mobile view
***
******************************************************************** */

/*Individual stylings*/
main{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
h2{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: x-large;
}
h2.minus a {
    text-decoration: none;
}
h2 a{
    color: black;
}
h2 a:hover{
    background-color: rgb(175, 136, 5);
}

div p a{
    color: rgb(175, 136, 5);
}

main div {
    display: none;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: large;
    padding: 5px;
}
div.open {
    display: block;
    background-color: black;
    color: rgb(175, 136, 5);
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 25px;
}

footer{
   position: fixed;
}

/*Mobile Viewport*/
@media only screen and (max-width: 700px){
  div.open{
      width: auto;
  }

  footer{
      position: relative;
      bottom: -27px;
  }
}
