/*********************************************************************
***
*Original Author: Kevin Greene *
*Date Created: 1/26/2021 *
*Version: 1 *
*Date Last Modified: 1/26/2021 *
*Modified by: Kevin Greene *
*Modification log: *Copied css from previous project
                   *Changed image styling at breakpoint
                   *Continuing to use same style structure with classes and id's from previous project
***
******************************************************************** */

/*Individual stylings*/

img, h1, h2, h3, p, li, ul {
  margin: 0;
  padding : 0;
}

body{
    font-family: 'Dosis', sans-serif, serif;
    background-image: url(../images/acousticguitar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
}

header{
    position: relative;
    font-size: x-large;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

h1{
    margin-top: 0;
}

p{
    font-size: larger;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    background-color: rgb(175, 136, 5);
}

li{
    list-style-type: none;
}

footer{
    text-align: center;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    font-size: larger;
}

footer div a{
    text-decoration: none;
    color: black;
}

footer div a:hover{
    background-color: rgb(175, 136, 5);
}


/* Classes and ID's */


#landing-page{
    text-align: center;
    font-size: xx-large;
}

.newsdiv{
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.letterdiv{
    width: 50%;
    margin-top: 20px;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
}


.lighttheme{
    background-color: rgba(255, 209, 59, 0.7);
    background-size: cover;
    font-weight: bold;
    border: 1px solid black;
    text-align: center;   
}

#email_1_error{
    color: red;
}
#email_2_error{
    color: red;
}
#first_name_error{
    color:red;
}
#name_error{
    color:red;
}
#comment_error{
    color: red;
}

/*Mobile Viewport*/

@media only screen and (max-width: 700px){
    img{
        width: 40%;
    }

    body{
        background-color:rgba(255, 209, 59, 0.7); ;
    }
}