/*********************************************************************
***
*Original Author: Kevin Greene *
*Date Created: 1/26/2021 *
*Version: 1 *
*Date Last Modified: 1/26/2021 *
*Modified by: Kevin Greene *
*Modification log: *Copied css from previous project
                   *Changed image styling at breakpoint
                   *Continuing to use same style structure with classes and id's from previous project

        2/17/2021  *Added mobile view improvements
                   *Changed image sizing
                   *Made logo invisible on mobile
***
******************************************************************** */

/*Individual stylings*/

img, h1, h2, h3, p, li, ul {
  margin: 0;
  padding : 0;
}

body{
    font-family: 'Dosis', sans-serif, serif;
    background-image: url(../images/acousticguitar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
}
div {
    font-size: large;
}

header{
    position: relative;
    font-size: x-large;
    
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
header a{
    text-decoration: none;
    color: black;
}
header a img{
    size: 50%;
}

h1{
    margin-top: 0;
}
span{
    font-size: x-large;
}

nav{
    background-color: black;
    margin-top: 15px;
}
nav ul li{
    display: inline;
    margin-right: 25px;
}
nav a{
    text-decoration: none;
    color: rgba(255, 209, 59, 0.7);
}

nav a:hover{
    background-color: rgb(175, 136, 5);
}

li{
    list-style-type: none;
}

form{
    margin-left: auto;
    margin-right: auto;
}

footer{
    text-align: center;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    font-size: larger;
}

footer div a{
    text-decoration: none;
    color: black;
}

footer div a:hover{
    background-color: rgb(175, 136, 5);
}


/* Classes and ID's */


#landing-page{
    text-align: center;
    font-size: xx-large;
}

.newsdiv{
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.letterdiv{
    width: 50%;
    margin-top: 20px;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
}

.container img{
    max-width: 90%;
    max-height: 90%;
    padding-bottom: 10px;
}


.lighttheme{
    background-color: rgba(255, 209, 59, 0.7);
    background-size: cover;
    font-weight: bold;
    border: 1px solid black;
    text-align: center;   
    margin-left: auto;
    margin-right:auto;
}
.lighttheme span a{
    color: black;
    text-decoration: none;
    font-size: larger;
}

#email_1_error{
    color: red;
}
#email_2_error{
    color: red;
}
#first_name_error{
    color:red;
}
#name_error{
    color:red;
}
#comment_error{
    color: red;
}


/*Mobile Viewport*/

@media only screen and (max-width: 700px){
   

    body{
        background-color:rgba(255, 209, 59, 0.7); 
        height: auto;
        position: relative;
    }

    .container{
        width: 40%;
        height: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    .container img{
        width: 55%;
        height: auto;
    }
    .letterdiv{
        width: 45%;
        height: auto;
    }

    form{
        margin-bottom: 10px;
        position: relative;
    }

    footer img{
        width: 5%;
    }
    header img{
        display: none;
    }
}