/*********************************************************************
***
*Original Author: Kevin Greene *
*Date Created: 1/26/2021 *
*Version: 1 *
*Date Last Modified: 1/26/2021 *
*Modified by: Kevin Greene *
*Modification log: *Created seperate stylesheet for table
                   *Added margin to push table away from header
                   *Changed caption color and size for more visibility
                   *Added width and vertical align to td for cleaner table
***
******************************************************************** */

/*Individual stylings*/
table{
    margin-top: 2rem;
}

caption{
    
    font-size: larger;
}

tr td{
    width: 50%;
    border: 1px solid black;
    vertical-align: top;
}


