@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=Padauk&display=swap');

$offwhite: #EEE8D6;
$darkblue: #022933;
$yellow: #FFBA00;
$blue:#0076A3;
$green: #548C27;
$orange: #F39856;
$red: #D14348;
$purple: #6D73C2;

$color-main: $darkblue;
$color-backgrounds:$offwhite;
$color-headlines: $red;

$font-main: "Andika New Basic" , sans-serif, serif;
$font-highlight: "Padauk", sans-serif, serif;

$color-item-border: $red;
$color-media-head: $blue;