.bar { background-color: #152420;}
nav ul li{
    display: block;
}
h1{
    display:none;
}
html{
    background: linear-gradient(blue, white);
    background-repeat: no-repeat;
}
main{
    background:transparent;
}
/*
========================================
Breakpoint
==========================================
*/

@media screen and (min-width: 641px){
   
    
  html{
      background: white;
  }
        

    main { 
    background-image: url(../images/heroback.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
}

    nav ul li{
    list-style-type: none;
    display: inline-block;
}
h1{
    display: initial;
}

}





























